@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

.primary {
  background-color: #219c90;
}

.secondary {
  background-color: #e9b824;
}

.tertiary {
  background-color: #ee9322;
}

.quaternary {
  background-color: #d83f31;
}

.gradient-background {
  background: linear-gradient(45deg, #219c90 0%, #ee9322 50%, #d83f31 100%);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  align-items: center !important;
  font-family: 'Poppins', sans-serif;
  /* background: #ececec; */
  /* background-image: url('../assets/5666499.jpg'); */
}

/* <!----------------- Main Container ------------------> */

#mainContainer {
  display: flexbox;
  height: 100vh !important;
  width: 100vw !important;
}

/* <!----------------- Login Container ------------------> */

/* <!----------------- Left Box ------------------> */

.left-box {
  /* background: #5757e2 !important; */
  background-image: url('../assets/bg_left_box.png');
}

.responsive-image {
  width: 120px;
  height: auto;
}

/* <!----------------- MEDIA QUERY ------------------> */

@media (min-width: 576px) {
  .responsive-image {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .responsive-image {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .responsive-image {
    width: 250px;
  }
}

/* <!----------------- Right Box ------------------> */

.right-box {
  padding: 10px 30px 0px 40px;
}

/* <!----------------- Custom Placeholder ------------------> */

::placeholder {
  font-size: 16px;
}

/* <!----------------- Small Screens ------------------> */

#mainContainer {
}

#loginContainer {
}
