@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

body {
  font-family: 'Poppins', sans-serif;
  background: #ececec;
}

nav {
  width: 100vw !important;
}

/* <!----------------- Main Container ------------------> */

/* <!----------------- Login Container ------------------> */

/* <!----------------- Left Box ------------------> */

.left-box {
  background: #5757e2 !important;
}

/* <!----------------- Right Box ------------------> */

.right-box {
  padding: 40px 30px 40px 40px;
}

/* <!----------------- Custom Placeholder ------------------> */

::placeholder {
  font-size: 16px;
}

/* <!----------------- Small Screens ------------------> */
